@media (max-width: 1890px){
    #cards{
        width: 80%;
    }

    #cards .card{
        display: block;
        background-color: white;
        min-width: 18px; 
        width: 17%;
        height: 310px;
        border: 1px solid #ccc;
        box-shadow: 0px 0px 4px #999;
        float: left;
        margin: 40px 1.7% 10px;
        
        overflow: hidden;
    }



    /*BARRA LATERAL*/
    #lateral{
        width: 20%;
        margin-left: 4%; 
    }

    #lateral #login input[type="submit"],
    #lateral #login input[type="reset"]{
        padding: 0px;
    }




    /*FOOTER*/

    #footer .footer{
        display: block;
        width: 90%;
        height: 430px;
        margin: 0px auto;
        margin-top: 45px;
    }

    #footer .footer h4{
        
        width: 80%;
       
    }


    #footer #extra #browser img{
        margin: 0px 3px;
        width: 40px;
        height: 40px;
    }

    #footer #location iframe{
        
        width: 80%;
        
    }
}



@media (max-width: 1110px){

    /*CARDS*/
    #cards .card .category{
        font-size: 18px;
    }
    
    #cards .card .description{
        font-size: 14px;
    }




    /*LATERAL*/ 

    #lateral input[type="text"]{
        width: 80%; 
    }

    #lateral #login input[type="email"],
    #lateral #login input[type="password"]{
        width: 73%;
    }






    /*FOOTER*/
    #footer .footer h4{
        font-size: 31px;
       
    }
}